body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-color: #636781;
  position: relative;
  height: 100vh;
  
}

.background {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: blue;
  background-image: url(../img/hill.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(20px);
}

.container {
  display: inline-block;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-column {
  display: inline-block;
  width: 40%;
  background-color: blue;
  background-image: url(../img/hill.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  color: #fff;
}
.left-column > .main-title {
position: absolute;
top: 20px;
left: 30px;
right: 30px;
font-weight: normal;
}
.left-column > .links {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  font-weight: normal;
}
.left-column > .links > a {
color: #fff;
}
.left-column > .links > span {

}

.right-column {
  width: 60%;
  float: right;
  padding: 60px;
  background-color: #fff;
  position: relative;
}
.close {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 57px;

  position: absolute;
  top: 0;
  right: 0;



}
